@font-face {
    font-family: 'Proto Mono';
    src: url('fonts/ProtoMono-Regular.woff2') format('woff2'),
        url('fonts/ProtoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    /* margin: 10px; */
    font-family: 'Proto Mono', Arial, sans-serif;
    background-color: #121216;
    /* background-color: rgb(36, 0, 82); */
    color: white;
}

a {
    text-decoration: none;
}

header {
    margin-inline: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    background-color: #0b0a10;
    border-radius: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

header nav ul li {
    margin-left: 30px;
}

.container {
    margin-inline: 80px;
    margin-top: 10px;
    display: flex;
    margin-bottom: 20px;
}

.sidebar {
    width: 40%;
    max-width: 40%;
    padding: 20px;
    /* background-color: #504572; */
    text-align: justify;
}

.sidebar .left-sidebar-section {
    padding-bottom: 20px;
}

.profile {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 1.5em;
    color: rgb(255, 232, 158);
}

.sidebar p {
    color: rgb(255, 249, 232);
}

.main-content {
    margin-inline: 40px;
    width: 80%;
    padding: 20px;
}

.main-content .intro {
    text-align: center;
    font-size: large;
    color: rgb(255, 168, 212);
}

.blog-previews .blog-post-title {
    color: rgb(144, 246, 255);
    font-size: 2.5em;
    margin-bottom: 0px;
}

.blog-previews .meta {
    color: #b0b0b0;
    font-size: 0.9em;
}

.blog-previews img {
    width: 100%;
    height: auto;
}

.blog-previews .read-more {
    color: #00ffff;
    text-decoration: none;
}

/* line between posts */
.blog-previews  {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.widget {
    margin-top: 20px;
}

header nav ul li a,
.logo a,
.sidebar a {
    /* color: rgb(247, 159, 255); */
    color: rgb(255, 146, 200);
    text-decoration: none;
}

.blog-previews .blog-post .read-more:hover,
header nav ul li a:hover,
.logo a:hover,
.sidebar a:hover {
    color: rgb(0, 110, 255);
    text-shadow: 0 0 4px red;
}

/* Responsive Design */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        margin-top: 100px;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }
}