@font-face {
    font-family: 'Proto Mono';
    src: url('fonts/ProtoMono-Regular.woff2') format('woff2'),
        url('fonts/ProtoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    margin-inline: 50px;
    /* font-family: 'Proto Mono', Arial, sans-serif; */
    font-family: Lato;
    background: linear-gradient(rgb(24, 11, 21), #0a0a1f);
    color: white;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding-inline: 30px;
    /* background-color: rgba(24, 11, 21, 0.758); */
    /* border: 1px solid rgb(255, 168, 212); */
    /* border-radius: 10px; */
    border-bottom: 1px solid rgb(255, 168, 212);
    margin-top: 20px;
    justify-content: space-between;
}

footer {
    align-items: center;
    padding-inline: 30px;
    /* background-color: rgba(24, 11, 21, 0.758); */
    /* border: 1px solid rgb(255, 168, 212); */
    /* border-radius: 10px; */
    margin: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

nav ul li {
    margin-left: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
    /* margin-right: 2rem; */
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 146, 200);
    margin: 5px 0;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 146, 200);
    font-weight: 600;
    transition: color 0.3s ease;
}

.container {
    margin-top: 10px;
    display: flex;
    margin-bottom: 20px;
}

.sidebar {
    width: 40%;
    max-width: 40%;
    text-align: justify;
}

.sidebar .left-sidebar-section {
    padding-bottom: 20px;
    margin-top: 20px;
}

.profile {
    text-align: center;
    padding-bottom: 20px;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 1.5em;
    color: rgb(255, 216, 89);
}

.sidebar p {
    color: rgba(255, 232, 168, 0.89);
}

.main-content {
    margin-inline: 80px;
    width: 75%;
}

.main-content .blog-post-title {
    color: rgb(144, 246, 255);
    font-size: 2em;
    margin-bottom: 0px;
}

.main-content .meta {
    color: #b0b0b0;
    font-size: 0.9em;
}

.main-content img {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.main-content .read-more {
    color: #00ffffc3;
    text-decoration: none;
}

/* line between posts */
.blog-post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.blog-section {
    /* background-color: rgba(0, 0, 0, 0.167);
    border-radius: 10px;
    box-shadow: 0 0 1px white;
    padding-top: 10px;
    padding-inline: 30px;
    padding-bottom: 10px; */
    margin-top: 20px;
}

/* .welcome-to-my-space {
    background: linear-gradient(to bottom right, rgb(255, 0, 217), rgb(0, 255, 213));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;

    text-align: center;
    font-size: 2em;
} */

.widget {
    margin-top: 20px;
}

nav ul li a,
.logo a,
.sidebar a {
    color: rgb(255, 146, 200);
    text-decoration: none;
}

.main-content .blog-post .read-more:hover,
nav ul li a:hover,
.logo a:hover,
.sidebar a:hover {
    color: rgb(0, 110, 255);
    text-shadow: 0 0 4px red;
}

.social-share-section {
    text-align: center;
    margin-bottom: 40px;
}

.share-button {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.share-twitter {
    color: black;
    border-color: black;
}

.share-twitter:hover {
    background-color: black;
    color: white;
}

.share-linkedin {
    color: #0077b5;
    border-color: #0077b5;
}

.share-linkedin:hover {
    background-color: #0077b5;
    color: white;
}

/* Responsive Design */
@media (max-width: 1300px) {
    header {
        padding-inline: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;
        margin-top: 10px;
    }

    .blog-section {
        order: 2;
    }

    .main-content {
        width: 100%;
        min-width: 100%;
        margin-inline: 0;
    }

    .sidebar {
        /* order: 2; */
        width: 100%;
        min-width: 100%;
    }

    .left-sidebar-section {
        order: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right-sidebar-section {
        order: 3;
    }

    .profile {
        margin-top: 30px;
        text-align: center;
        min-width: 50%;
    }

    .about-me {
        margin-left: 30px;
        width: 50%;
    }
}

/* Responsive Design for smaller devices */
@media (max-width: 768px) {
    body {
        margin-inline: 30px;
    }

    header {
        padding-inline: 15px;
        text-align: center;
        font-size: x-small;
    }

    nav ul li {
        font-size: x-large;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .nav-links {
        position: fixed;
        top: 78px;
        right: 0;
        width: 100%;
        /* height: 100vh; */
        /* min-height: 100%; */
        padding-top: 30px;
        background-color: rgba(22, 14, 30, 0.797);
        display: flex;
        flex-direction: row;
        /* justify-content: right; */
        /* padding-top: 70px; */
        gap: 10px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
        text-shadow: 0 0 10px rgb(255, 146, 200);
    }

    .nav-links.nav-active {
        transform: translateX(0);
    }

    .burger-menu {
        margin-left: 20px;
        display: block;
        cursor: pointer;
    }

    .burger-menu.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active div:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .container {
        flex-direction: column;
        margin-top: 10px;
    }

    .blog-section {
        order: 2;
        padding-top: 1px;
        padding-inline: 10px;
    }

    .main-content {
        width: 100%;
        margin-inline: 0;
    }

    .sidebar {
        /* order: 2; */
        width: 100%;
        min-width: 100%;
    }

    .left-sidebar-section {
        order: 1;
        flex-direction: column;
    }

    .right-sidebar-section {
        order: 3;
    }

    .about-me {
        width: 100%;
        margin-inline: 0;
    }
}