@font-face {
    font-family: 'Proto Mono';
    src: url('fonts/ProtoMono-Regular.woff2') format('woff2'),
        url('fonts/ProtoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    margin-inline: 100px;
    font-family: 'Proto Mono', Arial, sans-serif;
    background: linear-gradient(rgb(24, 12, 22), #0a0a1f);
    color: white;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding-inline: 30px;
    background-color: #0b0a1090;
    border-radius: 10px;
    border: 1px solid rgb(255, 168, 212);
    margin-top: 20px;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

header nav ul li {
    margin-left: 30px;
}

.container {
    margin-top: 10px;
    display: flex;
    margin-bottom: 20px;
}

.sidebar {
    width: 40%;
    max-width: 40%;
    text-align: justify;
}

.sidebar .left-sidebar-section {
    padding-bottom: 20px;
    margin-top: 20px;
}

.profile {
    text-align: center;
    padding-bottom: 20px;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 1.5em;
    color: rgb(255, 216, 89);
}

.sidebar p {
    color: rgba(255, 232, 168, 0.89);
}

.main-content {
    margin-inline: 80px;
    width: 75%;
}

.blog-previews .blog-post-title {
    color: rgb(144, 246, 255);
    font-size: 2em;
    margin-bottom: 0px;
}

.blog-previews .meta {
    color: #b0b0b0;
    font-size: 0.9em;
}

.blog-previews img {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.blog-previews .read-more {
    color: #00ffffc3;
    text-decoration: none;
}

/* line between posts */
.blog-post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.blog-section {
    background-color: rgba(0, 0, 0, 0.167);
    border-radius: 10px;
    box-shadow: 0 0 1px white;
    padding-top: 10px;
    padding-inline: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.blog-section .empty-blog-placeholder {
    text-align: center;
    font-size: 2em;
}

.widget {
    margin-top: 20px;
}

header nav ul li a,
.logo a,
.sidebar a {
    color: rgb(255, 146, 200);
    text-decoration: none;
}

.blog-previews .blog-post .read-more:hover,
header nav ul li a:hover,
.logo a:hover,
.sidebar a:hover {
    color: rgb(0, 110, 255);
    text-shadow: 0 0 4px red;
}

.social-share-section {
    text-align: center; 
    margin-bottom: 40px;
}

.share-button {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.share-twitter {
    color: black;
    border-color: black;
}

.share-twitter:hover {
    background-color: black;
    color: white;
}

.share-linkedin {
    color: #0077b5;
    border-color: #0077b5;
}

.share-linkedin:hover {
    background-color: #0077b5;
    color: white;
}

/* Responsive Design */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        margin-top: 100px;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }
}