@font-face {
    font-family: 'Proto Mono';
    src: url('fonts/ProtoMono-Regular.woff2') format('woff2'),
        url('fonts/ProtoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    /* margin: 10px; */
    font-family: 'Proto Mono', Arial, sans-serif;
    /* background-color: #121216; */
    background-color: rgb(36, 0, 82);
    color: white;
}

header {
    margin-inline: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    background-color: #0b0a10;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #007BFF;
}

.container {
    margin-inline: 80px;
    margin-top: 10px;
    display: flex;
    margin-bottom: 20px;
}

.sidebar {
    width: 40%;
    max-width: 40%;
    padding: 20px;
    background-color: #504572;
    text-align: justify;
}

.sidebar .left-sidebar-section {
    padding-bottom: 10px;
}

.profile {
    text-align: center;
}

.profile-img {
    max-width: 100%; 
    height: auto;
    border-radius: 20%;
}

.sidebar h2 {
    font-size: 1.5em;
}

.sidebar p {
    color: rgb(225, 223, 255);
}

.main-content {
    margin-inline: 40px;
    width: 80%;
    padding: 20px;
}

.main-content .intro,
.main-content .blog-previews {
    margin-bottom: 50px;
    color: rgb(251, 234, 253);
}

.main-content .intro,
.main-content .blog-previews h1 {
    font-size: larger;
    color: rgb(190, 182, 191);
}

.main-content .intro,
.main-content .blog-previews p {
    color: rgb(252, 228, 255);
}

.blog-previews .blog-post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.blog-previews .blog-post .blog-post-title {
    font-size: 2.5em;
    margin-bottom: 0px;
}

.blog-previews .blog-post .meta {
    color: #989898;
    font-size: 0.9em;
}

/* .blog-previews .blog-post img {
    width: 100%;
    height: auto;
} */

.blog-previews .blog-post .read-more {
    color: #00ffff;
    text-decoration: none;
}

.blog-previews .blog-post .read-more:hover {
    /* text-decoration: underline; */
    color: pink;
    text-shadow: 0px 0px 4px red;
}

.widget {
    margin-top: 20px;
}

a {
    color: rgb(163, 146, 255);
    text-decoration: none;
    text-shadow: 0 0 1px rgb(255, 255, 255);
}

/* Responsive Design */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        margin-top: 100px;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }
}